name: Workflow
on:
  push:
    branches:
      - feat

jobs:
  SAST:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Necesario para el análisis de SonarCloud

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18' # Usa la versión de Node.js que utilices en tu proyecto

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build
